/* Footer */

.tituloContacto {
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    color: #FFFFFF;
}

.fondoContacto {
    background: url('../img/imagen-contacto-WEB.png');
    background-size: cover ;
    background-repeat: no-repeat;
}

.fondoFinal {
    background-color: #03071E;
}

.contactos {
    background-color: black;
    opacity: .7;
}

.textoContacto {
    color: #FAA307;
    font-size: 0.7rem;
}

.textoDesarrolladores {
    color: rgba(#FAA307,.60);
    font-size: 0.6rem;
    @media (max-width: 1200px) {
        font-size: .9rem;
    }
    @media (max-width: 991px) {
    font-size: .6rem;
    } 
    @media (max-width: 767px) {
    font-size: .5rem;
    }     
}

.listaFoo ul {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}
.listaFoo li
{
    list-style-type: none;
    display: inline;
    padding-right: 30px;
    margin: 0px;
}

.img-chrono {
    max-width:90%;
}