// Headers

.html {
    white-space: nowrap;
}

.body {
    overflow-x: hidden;
    padding-bottom: 70px;
}

.principal {
    padding: 0;
    width: 100%;
}

.head {
    background: white;
    margin-top: 6rem;
    @media (max-width: 1200px) {
        margin-top: 5rem;
    }

    @media (max-width: 991px) {
        margin-top: 5rem;
    }

    @media (max-width: 767px) {
        margin-top: 4.5rem;
    }
}

.logo {
    padding: 1px;
    top:0 px;
    left: 0px;
    max-width: 140px;
    z-index: 200;
    @media (max-width: 1200px) {
        max-width: 130px;
    }

    @media (max-width: 991px) {
        max-width: 110px;
    }

    @media (max-width: 767px) {
        max-width: 90px;
    }

}

.navbar {
    position: fixed;
    overflow: visible;
    justify-content: center !important;
}

.navbar-expand-lg .nav-link {
        justify-content:center !important;
        align-items: end;
}

.navbar-toggler-icon {
    width: 90%;
}
.navbar-nav-scroll {
    overflow: hidden;
  }

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 1rem;
}

/* Barra Nav */
.fondoNav {
    background-color: #03071E;
    position: fixed !important;
    padding: 0px !important;
    overflow-x: hidden !important;
}

.whatsapp {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 35px;
    right: 28px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 28px;
    z-index: 100;

    @media (max-width: 1200px) {
        width: 36px;
        height: 36px;
        bottom: 26px;
        font-size: 23px;
        right: 32px;
    }

    @media (max-width: 767px) {
        width: 36px;
        height: 36px;
        bottom: 26px;
        right: 28px;
        font-size: 23px;
    }

    @media (max-width: 393px) {
        width: 36px;
        height: 36px;
        bottom: 22px;
        right: 30px;
        font-size: 23px;
    }
}

.cardHeader {
    z-index: 10;
    background: #f48c06;
    max-width: 846px;
    margin: auto;
}

.nosotros {
    background-image: url('../img/nosotros.png');
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.servicios {
    background-image: url('../img/servicios.png');
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact {
    background-image: url('../img/contact.png');
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.textosVarios {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.textos {
    font-size: .8rem;
}

.textosTitulo {
    font-size: 1.2rem;
}

.social-logo {
    fill: #FFBA08;

    :hover {
        fill: #F48C06;
    }
}

@media (max-width: 991px) {
    .social-logo {
        display: none;
    }
}

.social-logo-footer {
    fill: #FFBA08;

    :hover {
        fill: #F48C06;
    }
}

/* .header-links{
    a{

        color: #FFBA08;
        text-decoration: none;
        :hover{
            background-color: red ;
            color: white;
        }
    }
}
 */
.textoVision {
    font-size: 1.3rem;
    padding-right: 5rem;
    padding-left: 5rem;

    @media (max-width: 1200px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.3rem;
    }

    @media (max-width: 991px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: .95rem;
    }

    @media (max-width: 767px) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: .7rem;
    }
}



.nav-raya {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2.5px;
    transition: background-size .3s;
}

.nav-raya:hover,
.nav-raya:focus {
    background-size: 100% 2.5px;
}