// Seccion Nosotros

.estasListo {
    color: white;
    background-color: black;
    text-align: center;
}
.tituloNosotros {
    padding: 20px;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
    color: #FFFFFF;
}

.fondoNosotros {
    background: black;
    background: url('../img/imagen-sobre-nosotros-WEB.png');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-sobre-nosotros{
    height: 100%;
}

.fondoSobreNosotros{
    background-color: black;
    opacity: .5;
    display: flex;
    align-items: center;
    height: 100%;
}

.textBold{
    color: #f48c06;
    font-weight: bold;
}

.textoNosotros {
    font-size: 1.1rem;
    text-align: justify;
    @media (max-width: 1200px) {
     font-size: .9rem;
    }   
    @media (max-width: 991px) {
        font-size: .6rem;
       } 
       @media (max-width: 76px) {
        font-size: .9rem;
       }     
}