/* Seccion Videoclips */

.tituloServicios {
  padding: 20px;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  color: black;
}

.fondoServicios {
  background: white;
}

.tituloServicio {
  color: black;
  font-size: 1.5rem;

}

.sizeVideo {
    width: 100%;
    max-width: 847px;
    z-index: 5;
}

.centradoServicios {
 margin-top: 5%;
}

.cardServicios {
  font-size: .85rem;
}